.button1 {
    background-color: crimson;
    border-radius: 6px;

}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.top-banner {
    background-color: black;
    opacity: 100%;
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-top: -8;
}

.box {
    font-size: 30px;
    font-family: sans-serif;
    background-color: crimson;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.header {
    font-size: 30px;
    font-family: sans-serif;
    color: crimson;
}

.parent {
    border: 0px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }

  .child {
    display: inline-block;
    border: 0px;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

 .imageoutline {
    border: 1px black;
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.452), 0 17px 50px 0 rgba(255, 0, 0, 0.452);
 }

 table, th, td {
    border-collapse: collapse;
    border: 2px solid;
 }

image:hover {
    transform: scale(1.2);
}

.pfp {
    border-radius: 50%;
}